body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right bottom, rgba(0,0,0,0.6),rgba(0,0,0,0.445)), url("./fondo_netflix.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    color: #000;
}
header{
    width: 820px;
    height: 90px;
}
.login-page{
    min-width: 50%;
    min-height: 50%;
}
.logo{
    width: 165px;
    height: 90px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}
.signin{
    background-color: #000000b4;
    border-radius: 5px;
    color: #fff;
    margin: 40px auto 100px;
    padding: 70px 60px 150 px;
    width: 314px;
    height: 560px;
}
h1{
    padding-top:  30px;
    padding-left: 30px;
    font-size: 30px;
}
.signin input{
    display: block;
    color: black;
    width: 194px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 70px;
    
    margin: auto;
}
input{
    background-color: #353535;
    font-size: 15px;
    outline: none;
    margin-bottom: 100px;
    padding: 0 20px;
    margin: top 100px;
    display: flex;
}
.signin input [type="text"],
.signin input [type="password"]{
    background-color: #353535;
    font-size: 15px;
    outline: none;
    margin-bottom: 200px;
    padding: 0 20px;
}
.signin input [type="text"]::-webkit-input-placeholder,
.signin input [type="password"]::-webkit-input-placeholder{
    color: #949494;
    font-size: 16px;
}
.signin input [type="submit"]{
    background-color: red;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
}
.signin .help{
    color: #949494;
    margin: 0;
    margin-top: 12px;
    padding: 0;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
.signin .help .check{
    display: flex;
    align-items: center;
}
.check input{
    width: 20px;
    height: 20px;
}
.check label{
    margin-left: 5px;
    width: 100%;
}
.help .need a{
    text-decoration: none;
    color:#949494;
}
.footer-signin{
    margin-top: 30px;
}
.footer-signin .login{
    text-decoration: none;
    color:#727272;
    font-size: 13px;
}
.login .facebook{
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}
.footer-signin .new {
margin-top: 40px;
font-size: 17px;
color: #727272;
font-weight: lighter;
}
.footer-signin .new a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
}
.footer-signin .new a:hoover{
    text-decoration: underline;
}
.footer-signin .protect{
    margin-top: 40px;
    font-size: 13px;
    color: #9b9b9b;
}
.footer-signin .protect a{
    text-decoration: none;
    color: #5656ff;
}
.footer{
padding: 25px 40px 50px;
background-color: #000000b4;
margin:auto
}
.footer a:hover{
    text-decoration: underline;
}
.footer-info{
    max-width: 1000px;
    margin: auto;
}
.footer-info p{
    color: rgba(128, 128, 128, .466);
}
.footer-info p a{
    color: inherit;
    text-decoration: none;
}
.footer-links{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-links_item{
    width: 250px;
    min-width: 200px;
}
.footer-links_item a{
    color: gray;
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-info select{
    background-color: #000;
    border: 1px solid rgba(128, 128, 128, .466);
    color: gray;
    outline: none;
    padding: 13px;
}
p{
    color: gray;
}
